@{
    ViewData["Title"] = "Consulta de Nome Fantasia";
}

<div class="d-flex flex-column">
    <h1 class="text-center display-6">Consulta de Nome Fantasia</h1>

    <label class="row bg-dark text-light text-start ms-5 me-5 mb-2 ps-3 pb-1 pt-1 rounded">
        Lista vázia...
    </label>
    <div class="d-flex flex-row justify-content-center mt-1">
        <a role="button" class="btn btn-dark me-3" asp-controller="Home" asp-action="Index">LIMPAR LISTA</a>
        <a role="button" class="btn btn-dark ms-3" asp-controller="Lista" asp-action="Index">MONTAR LISTA</a>
    </div>
</div>